<ion-view view-title="Synchronisierung">
    <ion-content class="padding">
        <div style="margin: 0; padding: 0;  width: 100%; text-align: center;">
          <i class="icon ion-ios-cloud-upload positive middle" style="font-size: 6rem"></i>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            Hier kannst du ganz einfach dein Traumtagebuch mit Droem Laboratory
            syncen.
            <br/>
            <br/>
            Bitte stelle aber zuvor sicher das sich beide Geräte im selben
            Netz befinden und das du dich mit deinem Smartphone auf deinen Rechner
            verbinden kannst.
          </div>
        </div>
        <br/>
        <button class="button button-block button-positive" ng-click="sync()">synchronisieren</button>
    </ion-content>
</ion-view>
