<ion-view view-title="61 WILD">
  <ion-content class="padding">
      <div style="margin: 0; padding: 0;  width: 100%; text-align: center;">
        <i class="icon ion-ios-body positive middle" style="font-size: 6rem"></i>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          Das Programm unterstützt euch beim 61 Punkte Entspannungsprogramm.
          Hierbei wird euch jede halbe Minute ein Ton abgespielt. Schweift dann zum
          nächten Punkt über.
          <br/>
          <br/>
          Nach den 61 Punkten ist das Programm beendet und ihr befindet euch
          hoffentlich in vollster Entspannung mit Hypnagogen Bildern.
        </div>
      </div>
      <button class="button button-block button-positive" ng-click="toggleWILD()">{{wild ? 'Stop' : 'Start'}}</button>
  </ion-content>
</ion-view>
