<ion-view view-title="Remulator">
  <ion-content class="padding">
      <div style="margin: 0; padding: 0;  width: 100%; text-align: center;">
        <i class="icon ion-lightbulb positive middle" style="font-size: 6rem"></i>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          Der Rythm Napping Timer von dr&oslash;m lässt dir {{data.remulatorSleepEnd}} {{data.remulatorSleepEnd > 1 ? 'Stunden' : 'Stunde'}}
          Zeit einzuschlafen. Ab hier wecken dich {{data.blinkTimes}} {{data.remulatorSleepEnd > 1 ? 'Lichtblitze' : 'Lichtblitz'}} in 5, 10, 15 oder 20 Minuten abständen.
        </div>
      </div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Einschlaf Zeit</span>
          <input type="number" ng-model="data.remulatorSleepEnd">
        </label>
        <label class="item item-input">
          <span class="input-label">Anzahl Lichtblitze</span>
          <input type="number" ng-model="data.blinkTimes">
        </label>
        <label class="item item-input">
          <span class="input-label">Zeitspanne An/Aus</span>
          <input type="number" ng-model="data.flashTimeout">
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="toggleRemulator()">{{remulator ? 'Stop' : 'Start'}}</button>
  </ion-content>
</ion-view>
