/* Empty. Add your own CSS if you like */


.lucid {
  background-color: #2d2d2d;
  color: #34efff;
  border-color: #34efff;
}

#pre-wrap-text, #pre-wrap-wake {
  white-space:pre-wrap;
}

.popup-container {
  opacity: 1 !important;
  background-color: #000 !important;
}

.darkPopup .popup {
  color: #FFF;
  background-color: #000;
}

.darkPopup .popup-title {
  color: #FFF;
  background-color: #000;
}

.darkPopup .popup-head {
  color: #FFF;
  background-color: #000;
}

.darkPopup .popup-body {
  color: #FFF;
  background-color: #000;
}

.darkPopup .popup-buttons .button {
  background-color: #000;
}
